{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


    <div>
        <center>
        <h4><b>Terms of Use</b></h4>



1.          introduction

1.1.      Welcome to the website realtime.co.il(Hereinafter: the "Site"). The site is operated by AFP Ltd.

1.2.      The terms of use are worded in masculine for convenience only, but are intended for both women and men.

1.3.      By browsing or using this site, you acknowledge that you have read, understand and consent without limitation or reservation to: (1) the terms of use of the site as set forth in this document; And (2) the Company's Privacy Policy , and (3) the specific terms and conditions of each community on the Site (hereinafter all together: "Terms of Use"). If you do not agree to the terms of use, or any part of them, you must refrain from accessing and / or using the site.

1.4.      We may amend or change the Terms of Use, or any part thereof, from time to time. The binding wording of the terms in relation to any use of the site, it will be valid at the time of use.

1.5.      The terms of use are binding on all users of the site and the services offered on it, whether the use of the site is made through a computer, smartphone or any other means known today or will be known in the future, whether the user has registered or not registered.

1.6.      Definitions:

1.6.1.   "The Company" - AFP Ltd. , and all its employees, managers and anyone acting on its behalf in connection with the operation of the site.

1.6.2.   "Website" - this website, and / or any website that replaces it, on all their pages.

1.6.3.   "User" - a person who browsed the site and performed any actions on it.

1.6.4.   "Registered user" - the person who completed the registration procedure for the site.

1.6.5.   "Community Officers" - Registered users who have been appointed to a community position.



2.       Website services and its use

2.1.      realtime.co.il It is a community site for young people designed for private users only which deals with a variety of topics.

2.2.      The site is run entirely by users. The site has over a million registered users, who run about 600 active forums on a variety of topics. The various forums are managed through a managerial hierarchy of community officials, who form teams to maintain order in the various forums to prevent, among other things, the misuse of the platform by other users. A user who assumes a role in the community is aware that he is volunteering and doing so out of his own free will, and without any consideration or desire for consideration in the present or future.

2.3.      When registering for the site you are not obliged to provide any personal information (including full name, gender, age, place of residence) and the entire registration can be done completely anonymously, using a nickname, email address and password only.

2.4.      A registered user may upload information, text, images, videos and / or other content to the website (hereinafter: "User Content"). A registered user who uploads user content is solely responsible for all content he uploads to the site.

2.5.      By uploading and distributing content, you agree and declare to the Company that (1) you have all the rights necessary to publish or distribute this content, and (2) the publication and distribution of this content does not infringe or infringe the rights of any third party. A registered user who uploads surfer content grants the company a license that is unlimited in time and free of charge to use, reproduce, copy, translate, store in a database, transmit or receive in any way and by any means and create an archive or backup of user content.

2.6.      As stated below, the Company has no control or ability to control and monitor user content, and therefore will not bear any responsibility in this regard. However, the Company may, but is not obligated to, take any action at its sole discretion, including the removal of all or part of User Content. If you believe that your rights have been violated by user content, please let us know at the email address: support@realtime.co.il .

2.7.   The Company reserves the right to edit, delete, modify, translate or copy any post of any kind, in its sole discretion.



3.       Prohibited uses

3.1.      Registered and unregistered users are not allowed to perform the following actions when using the site and the content of the site:

3.1.1.          Make commercial use of the site and / or the content of the site;

3.1.2.          Copy, modify, process, translate, reproduce, transmit, publish and store the content of the Site, in whole or in part.

3.1.3.          Make use of or publish gross, threatening, harassing, insulting, degrading, provocative, provocative, provocative language and so on;

3.1.4.          Use or post content of a pornographic nature;

3.1.5.          Perform any advertisement, including by posting sites, ads, services, or products on the Site, both in forums and in personal messages, including mass mailing ( SPAM)) Of messages of any kind not at the request / will of the recipients.

3.1.6.          To expose minors without their consent and the consent of their parents or those responsible for them, to disclose content that presents a minor in a degrading or other offensive manner and / or any information and details regarding minors in violation of the provisions of the law.

3.1.7.          Disclose any personal information, such as full name, address, telephone number, email writer, credit card number, etc. Any message that includes these details, at its sole discretion.

3.1.8.          Publish or distribute malicious files that may harm, hide, alter or transmit user information in the file without his knowledge and consent.

3.1.9.          Or publish content that infringes any copyright or intellectual property rights, including content that infringes any trade secrets or duties of trust to any third party, and content that encourages the sharing of pirated files.

3.1.10.       Do not impersonate any person or any other entity, in any form.

3.1.11.       Make use of or illegally or immorally advertise on the Site, including advertising that violates a restraining order, knowingly posting material protected by rights, advertising that may harm public policy or sentiment, advertising that may harm or harm the public or any individual, in his or her privacy or good name.

3.1.12.       To violate the laws of the State of Israel in any way.



4.       privacy

4.1.1.          The company is interested in offering advertisements to users who have confirmed this, including via messages to the mobile device (such as SMS, Push Notifications, e-mails). When registering on the site, you will be asked to confirm receipt of such messages.

4.1.2.          If the user has confirmed receipt of advertising messages and wishes to remove his details from the mailing list of these messages, the user may, at any time, send the company a removal request by sending a removal request to the email address: support@realtime.co.il .

4.1.3.          The company may use " cookies "") Within the site in order to store information for the site's users (such as username and password) and thus save the need to enter the personal user information at each login to the site.

4.1.4.          The company reserves the right to transfer information about a user to the competent authorities, if there is a fear of committing or intent to commit an illegal act and in emergencies where there is a clear and immediate danger to the user's life.

4.1.5.          You can read more about more information related to privacy issues as detailed in the Privacy Policy .



5.       Intellectual Property

5.1.1.          Copyright . In addition to the user content (as defined above), the content displayed on the site, including the site design and graphics, the verbal content, images, editing, etc., are subject to (or may be subject to) copyright protection. Accordingly, the content of the site may not be copied, downloaded, modified, reproduced, published or retransmitted any information or content contained on the site or any part thereof by any electronic means or hard copy, or create any work, derivative work or otherwise, based on images , Such text, documents or information, without the express prior written consent of the Company.

5.1.2.          Trademarks . The Company owns and / or has rights to use the names and marks displayed on the Site, including trade names, trademarks, logos, icons ( icons), Symbols, graphic design, logos ( logo). And these may be registered trademarks / services of the company or of third parties. The use or misuse of these trademarks / services or any other material, is expressly prohibited and may infringe copyright, trademark or other intellectual property laws.

5.1.3.          Nothing is stated in the Terms of Use which are construed to express, implicitly, by way of silence or in any other way ownership, license or any other right under intellectual property law to the user or any other third party.

5.1.4.          The user may not upload, embed, transmit, transmit or make available any material that infringes any trade secret, copyright, or other rights of any person or entity.

5.1.5.          If you believe that your rights have been violated by user content, please let us know at the email address: support@realtime.co.il .





6.       Limitation of Liability

6.1.1.          Access to and use of this site and content is the sole responsibility of the user. The company reserves the right to change the content of this site or these terms of use and the privacy policy at any time and for any reason, without prior notice, and the users of the site must check these items on a periodic basis.

6.1.2.          It is hereby clarified that the company is not responsible for user content and will not bear any responsibility in this regard, including in cases where the user content is suspected of infringing any copyright and / or intellectual property rights of any third party and this means that the company has no ability to monitor user content.

6.1.3.          The company does not bear any responsibility, express or implied, for the accuracy or completeness of the information or content on the site, including user content. The company is not responsible for any damage (including direct, secondary, consequential, indirect or punitive damage) caused to the user of the site or any third party in connection with the site, including access, use or inability to use this site, including any error or omission in information or content. This limitation of liability includes damage that may be caused to computers, cell phones, tablets, etc. (including viruses, any unauthorized access or use of our servers and / or any and all personal information and / or financial information stored on them and any interruption or interruption of transmission from the site.

6.1.4.          The company will not verify compliance with local law in all areas of jurisdiction and the user is solely responsible for matching the information and content contained on the site with local law in the area of ​​jurisdiction.

6.1.5.          Wherever the terms of use limit the Company's liability and / or the Company's right to compensation and / or indemnification arises and / or there is a restriction on the Company's liability, this will also apply to managers and / or shareholders and / or employees of the Company and / or who On her behalf.



7.       Indemnification

7.1.1.          The user agrees to indemnify the company (including officers, directors, employees, agents, suppliers and partners of a third party), against full losses, expenses, damages and costs, including attorney's fees, in connection with any breach by the user of the law or Provisions of Terms of Use and Privacy Policy.

7.1.2.          This indemnity includes, without limitation, any claim, loss, demand or claim resulting from a violation or infringement of third party rights (including and without limitation any copyright, other proprietary right, right to good name or right to privacy) and user infringements such as viruses, worms), Spiders ( spiders), Trojan horse) Or other means of technologically inappropriate behavior, whether known or known in the future.

7.1.3.          The user's indemnification obligation will apply indefinitely in time or territory.



8.       Law; Judgment

8.1.1.          The use of the website is subject to Israeli law. The interpretation and enforcement of the terms of use and / or any dispute or legal proceeding arising therefrom shall be made in accordance with the laws of the State of Israel.

8.1.2.          Any legal action or proceeding related to the site or the terms of use will be brought to the exclusive and unique jurisdiction of the competent courts in Tel Aviv - Jaffa.

8.1.3.          The company reserves the right to any compensation, relief and / or remedy in law or in case of violation of these terms of use.



9.       general

9.1.1.          By using the Website, you confirm that you are fully qualified to undertake the terms, obligations, declarations, representations, and obligations set forth in the Terms of Use and to fulfill them in full.

9.1.2.          The Company reserves the right to terminate, without prior notice and in its sole discretion, the registration or use of the Website by any user who has done any of the following: (1) violated the provisions of the law or the Terms of Use; (2) infringes the intellectual property rights of any third party, or any other property or right to privacy or good name of any third party; (3) Harassed, harmed or acted in any way that has, or may have, at the Company's discretion, disrupt or disrupt or harm the activity of the site and / or its operators and / or other users of the site and / or any third parties.

9.1.3.          The company makes an effort to enable the site's activity services continuously but can and for various reasons there will be malfunctions and / or interruptions in such activity or part of it. Users will not have any claim or claim against the company in connection with such a malfunction and / or interruption.

9.1.4.          The company uses accepted information security software, but data traffic via the Internet and / or cellular is not immune to eavesdropping of any kind, and therefore will not withstand any claim or claim against the company, as long as information provided through the site reaches any third party.

9.1.5.          A user will not use the website for the purpose of commercial advertising of any product and / or service.

9.1.6.          Delay or failure on the part of the company to exercise or enforce a right of its rights under the terms of use, will not see them as a waiver or prevention on its part of using its rights in the future, and it may use its rights, in whole or in part, whenever it sees fit.

9.1.7.          If any provision of the Terms of Use is deemed to be illegal, void or unenforceable, then any such term shall be construed to the maximum extent permitted by law, and without prejudice to the enforceability of any other provisions of these Terms of Use.
            </center>
    </div>

{% endblock %}